<aside class="carousel">
  <div class="carousel-image-container">
    <img src="/img/ca-01.jpg" alt="" class="carousel-image carousel-hide">
    <img src="/img/ca-02.jpg" alt="" class="carousel-image carousel-hide">
    <img src="/img/ca-03.jpg" alt="" class="carousel-image carousel-hide">
    <img src="/img/ca-04.jpg" alt="" class="carousel-image carousel-hide">
    <img src="/img/ca-05.jpg" alt="" class="carousel-image carousel-hide">
    <img src="/img/ca-06.jpg" alt="" class="carousel-image carousel-hide">
    <img src="/img/ca-07.jpg" alt="" class="carousel-image carousel-hide">
    <img src="/img/ca-08.jpg" alt="" class="carousel-image carousel-hide">
    <img src="/img/ca-09.jpg" alt="" class="carousel-image carousel-left">
    <img src="/img/ca-10.jpg" alt="" class="carousel-image carousel-middle">
    <img src="/img/ca-11.jpg" alt="" class="carousel-image carousel-right">
    <img src="/img/ca-12.jpg" alt="" class="carousel-image carousel-hide">
    <img src="/img/ca-13.jpg" alt="" class="carousel-image carousel-hide">
    <img src="/img/ca-14.jpg" alt="" class="carousel-image carousel-hide">
    <img src="/img/ca-15.jpg" alt="" class="carousel-image carousel-hide">
    <img src="/img/ca-16.jpg" alt="" class="carousel-image carousel-hide">
    <img src="/img/ca-17.jpg" alt="" class="carousel-image carousel-hide">
    <img src="/img/ca-18.jpg" alt="" class="carousel-image carousel-hide">
    <img src="/img/ca-19.jpg" alt="" class="carousel-image carousel-hide">
    <img src="/img/ca-20.jpg" alt="" class="carousel-image carousel-hide">
  </div>

  <div class="carousel-button-container">
    <a class="carousel-button"></a>
    <a class="carousel-button"></a>
    <a class="carousel-button"></a>
    <a class="carousel-button"></a>
    <a class="carousel-button"></a>
    <a class="carousel-button"></a>
    <a class="carousel-button"></a>
    <a class="carousel-button"></a>
    <a class="carousel-button"></a>
    <a class="carousel-button carousel-button-active"></a>
    <a class="carousel-button"></a>
    <a class="carousel-button"></a>
    <a class="carousel-button"></a>
    <a class="carousel-button"></a>
    <a class="carousel-button"></a>
    <a class="carousel-button"></a>
    <a class="carousel-button"></a>
    <a class="carousel-button"></a>
    <a class="carousel-button"></a>
    <a class="carousel-button"></a>
  </div>
</aside>