<div id="contact" class="contact">
  <div class="contact__title">
    <h1>Fale Conosco</h1>
  </div>

  <form action="/contact" method="POST" class="contact__form">
    <div class="contact__form__item">
      <input type="text" class="contact__form__input" placeholder="Nome">
      <i class="fas fa-user"></i>
    </div>
    <div class="contact__form__item">
      <input type="email" class="contact__form__input" placeholder="Email">
      <i class="fas fa-envelope"></i>
    </div>
    <div class="contact__form__item">
      <textarea class="contact__form__msg" cols="30" rows="10" placeholder="Mensagem..."></textarea>
    </div>
    <div class="contact__form__item">
      <button type="submit" class="contact__form__btn">
        <span>Enviar<i class="fas fa-arrow-right"></i></span>
      </button>
    </div>
  </form>

  <div class="contact__social">
    <div class="contact__social__facebook">
      <i class="fab fa-facebook-f"></i>
    </div>
    <div class="contact__social__twitter">
      <i class="fab fa-twitter"></i>
    </div>
    <div class="contact__social__google">
      <i class="fab fa-google-plus-g"></i>
    </div>
  </div>
</div>