<div class="copyright">
  <div class="copyright__left">
    <p>Tech 4 People - Todos os direitos reservados 2019</p>
    <div class="copyright__address">
      <p>Rua Jaguarí, 283 – Santo André – SP</p>
      <p>Brasil</p>
    </div>
  </div>
  <div class="copyright__right">
    <a href="https://www.maua.br/" target="_blank">
      <img src="/img/ft-maua.png" class="copyright__maua">
    </a>
    <div class="copyright__saturno">
      <p>Developed by:</p>
      <a href="https://github.com/VinPer" class="copyright__member" target="_blank">
        <p><img src="/img/ft-github.png" class="copyright__github"> VinPer</p>
      </a>
      <a href="https://github.com/Kaisen-san" class="copyright__member" target="_blank">
        <p><img src="/img/ft-github.png" class="copyright__github"> Kaisen-san</p>
      </a>
      <a href="https://github.com/matheusmf1" class="copyright__member" target="_blank">
        <p><img src="/img/ft-github.png" class="copyright__github"> matheusmf1</p>
      </a>
    </div> 
  </div>
</div>