<a class="logo" href="#"><img class="logo__img" src="/img/tech4people.svg" alt="Tech4People"></a>

<input type="checkbox" id="nav-toggle" class="nav-toggle"> 
<label for="nav-toggle" class="nav-toggle__label"><span></span></label>

<nav>
  <ul>
    <li><a href="#products">Produtos</a></li>
    <li><a href="#cloud">Cloud</a></li>
    <li><a href="#zeitgeber">Zeitgeber</a></li>
    <li><a href="#contact">Contato</a></li>
    <li><a href="/login">Entrar</a></li>
  </ul>
</nav>