<article class="products__card">
  <div class="title-content">
    <h3><%= title %></h3>
    <hr/>
    <div class="intro"><%= category %></div>
  </div>

  <div class="card-info">
    <p><%= description %></p>
  </div>
  
  <div class="gradient-overlay"></div>
  <div class="color-overlay"></div>
</article>