<div class="purchase">
    <div class="purchase-images">
        <img src="/img/ca-01.jpg" alt="" class="purchase-image-display">
        <!-- to optimize: make it impossible to drag images, make it smoother -->
        <div class="purchase-image-list">
            <div class="purchase-slider">
                <img src="/img/ca-01.jpg" alt="" class="purchase-image-unselected purchase-image-selected">
                <img src="/img/ca-02.jpg" alt="" class="purchase-image-unselected">
                <img src="/img/ca-03.jpg" alt="" class="purchase-image-unselected">
                <img src="/img/ca-04.jpg" alt="" class="purchase-image-unselected">
                <img src="/img/ca-05.jpg" alt="" class="purchase-image-unselected">
                <img src="/img/ca-06.jpg" alt="" class="purchase-image-unselected">
                <img src="/img/ca-07.jpg" alt="" class="purchase-image-unselected">
                <img src="/img/ca-08.jpg" alt="" class="purchase-image-unselected">
                <img src="/img/ca-09.jpg" alt="" class="purchase-image-unselected">
                <img src="/img/ca-10.jpg" alt="" class="purchase-image-unselected">
                <img src="/img/ca-11.jpg" alt="" class="purchase-image-unselected">
                <img src="/img/ca-12.jpg" alt="" class="purchase-image-unselected">
                <img src="/img/ca-13.jpg" alt="" class="purchase-image-unselected">
            </div>
        </div>
    </div>
    <div class="purchase-options">
        <h2 class="purchase-title">Lorem, ipsum.</h2>
        <hr class="purchase-hr">
        <p class="purchase-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet sunt recusandae molestiae omnis sapiente magni suscipit laboriosam molestias consequatur officia!</p>
        <form action="/blabla" class="purchase-form">
            <label class="purchase-option"><input type="checkbox" name="e1" value="yes" class="purchase-input">
            <span class="purchase-checkbox"></span>
            Opção 1: Lorem, ipsum dolor.
            <p class="purchase-subtext">Lorem ipsum dolor sit amet consectetur.</p></label>
            <label class="purchase-option"><input type="checkbox" name="e2" value="yes" class="purchase-input">
            <span class="purchase-checkbox"></span>
            Opção 2: Lorem, ipsum dolor.
            <p class="purchase-subtext">Lorem ipsum dolor sit amet consectetur.</p></label>
            <label class="purchase-option"><input type="checkbox" name="e3" value="yes" class="purchase-input">
            <span class="purchase-checkbox"></span>
            Opção 3: Lorem, ipsum dolor.
            <p class="purchase-subtext">Lorem ipsum dolor sit amet consectetur.</p></label>
            <label class="purchase-option"><input type="checkbox" name="e4" value="yes" class="purchase-input">
            <span class="purchase-checkbox"></span>
            Opção 4: Lorem, ipsum dolor.
            <p class="purchase-subtext">Lorem ipsum dolor sit amet consectetur.</p></label>
            <label class="purchase-option"><input type="checkbox" name="e5" value="yes" class="purchase-input">
            <span class="purchase-checkbox"></span>
            Opção 5: Lorem, ipsum dolor.
            <p class="purchase-subtext">Lorem ipsum dolor sit amet consectetur.</p></label>
            <a class="purchase-send">Enviar</a>
        </form>
    </div>
</div>
<div class="purchase-zoom"><img src="/img/ca-01.jpg" alt="" class="purchase-zoom-image"></div>
<div class="purchase-buy">
    <div id="contact" class="contact">
        <div class="contact__title">
            <h1>Fale Conosco</h1>
        </div>
        <div class="purchase-cancel"><i class="fas fa-times"></i></div>
        <form action="/contact" method="POST" class="contact__form">
            <div class="contact__form__item">
            <input type="text" class="contact__form__input" placeholder="Nome">
            <i class="fas fa-user"></i>
            </div>
            <div class="contact__form__item">
            <input type="email" class="contact__form__input" placeholder="Email">
            <i class="fas fa-envelope"></i>
            </div>
            <div class="contact__form__item">
            <textarea class="contact__form__msg" cols="30" rows="10" placeholder="Mensagem..."></textarea>
            </div>
            <div class="contact__form__item">
            <button type="submit" class="contact__form__btn">
                <span>Enviar<i class="fas fa-arrow-right"></i></span>
            </button>
            </div>
        </form>
    </div>
</div>