<div class="purchase">
    <div class="purchase-images">
        <img src="/img/ca-01.jpg" alt="" class="purchase-image-display">
        <ul class="purchase-image-list">
            <img src="/img/ca-01.jpg" alt="" class="purchase-image-unselected purchase-image-selected">
            <img src="/img/ca-02.jpg" alt="" class="purchase-image-unselected">
            <img src="/img/ca-03.jpg" alt="" class="purchase-image-unselected">
            <img src="/img/ca-04.jpg" alt="" class="purchase-image-unselected">
            <img src="/img/ca-05.jpg" alt="" class="purchase-image-unselected">
        </ul>
    </div>
    <div class="purchase-options">
        <h2 class="purchase-title">Lorem, ipsum.</h2>
        <p class="purchase-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet sunt recusandae molestiae omnis sapiente magni suscipit laboriosam molestias consequatur officia!</p>
        <form action="/blabla" class="purchase-form">
            <label class="purchase-option"><input type="checkbox" name="e1" value="yes"> Opção 1: Lorem, ipsum dolor.
            <p class="purchase-subtext">Lorem ipsum dolor sit amet consectetur.</p></label>
            <label class="purchase-option"><input type="checkbox" name="e2" value="yes"> Opção 2: Lorem, ipsum dolor.
            <p class="purchase-subtext">Lorem ipsum dolor sit amet consectetur.</p></label>
            <label class="purchase-option"><input type="checkbox" name="e3" value="yes"> Opção 3: Lorem, ipsum dolor.
            <p class="purchase-subtext">Lorem ipsum dolor sit amet consectetur.</p></label>
            <label class="purchase-option"><input type="checkbox" name="e4" value="yes"> Opção 4: Lorem, ipsum dolor.
            <p class="purchase-subtext">Lorem ipsum dolor sit amet consectetur.</p></label>
            <label class="purchase-option"><input type="checkbox" name="e5" value="yes"> Opção 5: Lorem, ipsum dolor.
            <p class="purchase-subtext">Lorem ipsum dolor sit amet consectetur.</p></label>
            <a href="" class="purchase-send">Enviar</a>
        </form>

        </a>
    </div>
</div>
<div class="purchase-zoom"><img src="/img/ca-01.jpg" alt="" class="purchase-zoom-image"></div>