<div class="purchase">
    <div class="purchase-images">
        <img src="/img/ca-01.jpg" alt="" class="purchase-image-display">
        <!-- to optimize: make it impossible to drag images, make it smoother -->
        <ul class="purchase-image-list">
            <span class="purchase-slider">
                <img src="/img/ca-01.jpg" alt="" class="purchase-image-unselected purchase-image-selected">
                <img src="/img/ca-02.jpg" alt="" class="purchase-image-unselected">
                <img src="/img/ca-03.jpg" alt="" class="purchase-image-unselected">
                <img src="/img/ca-04.jpg" alt="" class="purchase-image-unselected">
                <img src="/img/ca-05.jpg" alt="" class="purchase-image-unselected">
                <img src="/img/ca-06.jpg" alt="" class="purchase-image-unselected">
                <img src="/img/ca-07.jpg" alt="" class="purchase-image-unselected">
                <img src="/img/ca-08.jpg" alt="" class="purchase-image-unselected">
                <img src="/img/ca-09.jpg" alt="" class="purchase-image-unselected">
                <img src="/img/ca-10.jpg" alt="" class="purchase-image-unselected">
                <img src="/img/ca-11.jpg" alt="" class="purchase-image-unselected">
                <img src="/img/ca-12.jpg" alt="" class="purchase-image-unselected">
                <img src="/img/ca-13.jpg" alt="" class="purchase-image-unselected">
            </span>
        </ul>
    </div>
    <div class="purchase-options">
        <h2 class="purchase-title">Lorem, ipsum.</h2>
        <hr>
        <p class="purchase-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet sunt recusandae molestiae omnis sapiente magni suscipit laboriosam molestias consequatur officia!</p>
        <form action="/blabla" class="purchase-form">
            <label class="purchase-option"><input type="checkbox" name="e1" value="yes" class="purchase-input">
            <span class="purchase-checkbox"></span>
            Opção 1: Lorem, ipsum dolor.
            <p class="purchase-subtext">Lorem ipsum dolor sit amet consectetur.</p></label>
            <label class="purchase-option"><input type="checkbox" name="e2" value="yes" class="purchase-input">
            <span class="purchase-checkbox"></span>
            Opção 2: Lorem, ipsum dolor.
            <p class="purchase-subtext">Lorem ipsum dolor sit amet consectetur.</p></label>
            <label class="purchase-option"><input type="checkbox" name="e3" value="yes" class="purchase-input">
            <span class="purchase-checkbox"></span>
            Opção 3: Lorem, ipsum dolor.
            <p class="purchase-subtext">Lorem ipsum dolor sit amet consectetur.</p></label>
            <label class="purchase-option"><input type="checkbox" name="e4" value="yes" class="purchase-input">
            <span class="purchase-checkbox"></span>
            Opção 4: Lorem, ipsum dolor.
            <p class="purchase-subtext">Lorem ipsum dolor sit amet consectetur.</p></label>
            <label class="purchase-option"><input type="checkbox" name="e5" value="yes" class="purchase-input">
            <span class="purchase-checkbox"></span>
            Opção 5: Lorem, ipsum dolor.
            <p class="purchase-subtext">Lorem ipsum dolor sit amet consectetur.</p></label>
            <a class="purchase-send">Enviar</a>
        </form>
    </div>
</div>
<div class="purchase-zoom"><img src="/img/ca-01.jpg" alt="" class="purchase-zoom-image"></div>
<div class="purchase-buy">
    <div class="purchase-contact">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quis molestias placeat, atque, corrupti molestiae totam illo delectus pariatur minima, labore veritatis quo veniam doloremque magnam. Repellat, voluptatum eaque veniam facere delectus aut consequuntur aliquid temporibus odit vitae quasi. Iure ad expedita est beatae veritatis corporis sunt dolores cum. Esse?</p>
    </div>
    <div class="purchase-cancel">X</div>
</div>