<div class="social">
  <div class="social__item social__item--facebook">
    <i class="fab fa-facebook-f social__icon"></i>
  </div>
  <div class="social__item social__item--twitter">
    <i class="fab fa-twitter social__icon"></i>
  </div>
  <div class="social__item social__item--linkedin">
    <i class="fab fa-linkedin-in social__icon"></i>
  </div>
</div>