<aside id="zeitgeber" class="zeitgeber">
  <div class="zeitgeber-item zeitgeber-scroll-effect">	
    <img src="/img/pg-zeitgeber.png" alt="Zeitgeber" class="zeitgeber-image">
  </div>

  <div class="zeitgeber-item zeitgeber-scroll-effect">
    <h1>Zeitgeber: Lorem ipsum dolor sit amet.</h1>
    <span class="zeitgeber-hr"></span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores vel quisquam officia porro sed excepturi laudantium laborum dolorem, aliquid delectus!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem voluptatem molestias cupiditate repudiandae officiis error earum ipsam qui dicta voluptates dolorem aut cumque officia consectetur repellendus, sequi suscipit, eaque maiores?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime quidem aspernatur velit tempore recusandae! Eius ut sed ipsum dicta neque commodi beatae, aut aliquam quas velit voluptate vitae ab necessitatibus ullam ratione! Quod nostrum illum magnam dolorum, corporis quisquam odit.</p>
    <a href="http://dev.zeitgeber.com.br" target="_blank" class="zeitgeber-button">Saiba Mais</a>
  </div>
</aside>