.carousel {
  grid-area: carrosel;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.carousel-image-container {
  margin-bottom: 30%;
}

.carousel-button-container {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.carousel-image {
  width: 40%;
  position: absolute;
  transition: transform 0.7s ease-in-out, right 0.7s ease-in-out, -webkit-filter 0.7s ease-in-out;
  user-select: none;
  -webkit-user-drag: none;
}

.carousel-button {
  cursor: pointer;
  user-select: none;
  border: 1px solid var(--secondary-clr-light);
  padding: 3px;
  background-color: var(--light-theme);
  border-radius: 20px;
  transition: background-color 0.2s ease-in-out;
}

.carousel-button-active {
  background-color: var(--secondary-clr-light);
}

.carousel-middle {
  transform: scale(1);
  right: 30%;
  z-index: 100;
  filter: opacity(100%) blur(0px);
}

.carousel-right {
  transform: scale(.6);
  right: 0%;
  z-index: 1;
  filter: opacity(80%) blur(3px);
}

.carousel-left {
  transform: scale(.6);
  right: 60%;
  z-index: 1;
  filter: opacity(80%) blur(3px);
}

.carousel-hide {
  transform: scale(.4);
  right: 30%;
  z-index: 0;
  filter: opacity(0%) blur(0px);
}

@media (max-width: 1023.98px) {
  .carousel-left,
  .carousel-right {
    filter: opacity(0%);
  }

  .carousel-image {
    width: 60%;
  }

  .carousel-button-container {
    display: none;
  }

  .carousel-image-container {
    margin-bottom: 40%;
  }

  .carousel-middle {
    right: 20%;
  }
}