.cloud {
  grid-area: cloud;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(rgba(50, 50, 50, 0.05), rgba(153, 214, 255, 0.25), rgba(50, 50, 50, 0.05));
  background-size: cover;
  background-position: center;
}

.cloud h1 {
  font-size: 3em;
  letter-spacing: 1px;
}

.cloud p {
  position: relative;
  margin-top: 1.1em;
  line-height: 1.2em;
  letter-spacing: 1px;
}

.cloud-item {
  margin: 0 2%;
  transition: transform 0.7s ease-in-out, filter 0.7s ease-in-out;
  justify-self: center;
}

.cloud-hr {
  display: block;
  margin: 10px;
  height: 4px;
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0), var(--primary-clr-light), rgba(0, 0, 0, 0));
}

.cloud-image {
  display: block;
  object-fit: cover;
  width: 100%;
}

.cloud-scroll-effect {
  filter: opacity(0);
  transform: translateX(-400px);
}

.cloud-button {
  display: block;
  margin: 2.5em auto 0;
  max-width: 20%;
  padding: 10px 0px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  background-color: var(--secondary-clr);
  text-align: center;
  color: var(--light-theme);
  border-radius: 2px;
  box-shadow: 2px 2px 3px rgb(175, 175, 175);
  transition: background-color 0.1s ease-in-out;
}

.cloud-button:hover {
  background-color: var(--secondary-clr-light);
}

.cloud-button:active {
  background-color: var(--secondary-clr);
}

@media (max-width: 1023.98px) {
  .cloud h1 {
    font-size: 2em;
  }

  .cloud-image {
    height: 400px;
  }

  .cloud-button {
    max-width: 30%;
  }
}

@media (max-width: 768px) {
  .cloud {
    flex-direction: column;
  }

  .cloud-button {
    margin-bottom: 2.5em;
  }

  .cloud-image {
    height: auto;
  }
}