.button {
  display: block;
  width: max-content;
  padding: 1em 2em;
  border-radius: .125em;
  color: var(--white-smoke);
  background-color: var(--astronaut-blue);
  box-shadow: .125em .125em .2em var(--silver);
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: background-color 100ms ease-in-out;
}

.button:hover {
  background-color: var(--regal-blue);
}

.button:active {
  background-color: var(--astronaut-blue);
}

.button--maximized {
  width: 100%;
}

.button--rounded {
  border-radius: 1.5em;
}