.contact {
  width: 40%;
  padding: 3em;
  border-radius: 2em;
  position: relative;
  background-color: var(--white-smoke);
}

.contact__title {
  margin-bottom: 1.5em;
  color: var(--title-clr);
  letter-spacing: .2em;
  text-align: center;
}

#contact .social {
  position: absolute;
  bottom: -1.5em;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1023.98px) {
  .contact {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .contact {
    width: auto;
  }
}