.form,
.form__item {
  width: 100%;
}

.form__item {
  position: relative;
}

.form .input {
  margin-bottom: .75em;
}

.form__msg {
  width: 100%;
  height: 8em;
  margin-bottom: 2em;
  padding: 1em;
  border: 0;
  border-radius: 1em;
  color: var(--content-clr);
  background-color: var(--white);
  resize: none;
  outline: none;
}

.form__btn {
  width: 100%;
  background: none;
  border: none;
}

.form__btn-icon {
  margin-left: .75em;
}