.slideshow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5em 0;
  position: relative;
}

.slideshow__imgs-wrapper {
  margin-bottom: 30%;
}

.slideshow__img {
  width: 40%;
  position: absolute;
  transition: transform 0.7s ease-in-out, right 0.7s ease-in-out, -webkit-filter 0.7s ease-in-out;
  user-select: none;
  -webkit-user-drag: none;
}

.slideshow__img--middle {
  transform: scale(1);
  right: 30%;
  z-index: 100;
  filter: opacity(100%) blur(0);
}

.slideshow__img--left {
  transform: scale(.6);
  right: 60%;
  z-index: 1;
  filter: opacity(80%) blur(3px);
}

.slideshow__img--right {
  transform: scale(.6);
  right: 0;
  z-index: 1;
  filter: opacity(80%) blur(3px);
}

.slideshow__img--hide {
  transform: scale(.4);
  right: 30%;
  z-index: 0;
  filter: opacity(0) blur(0px);
}

.slideshow__btns-wrapper {
  display: flex;
  width: 35%;
  justify-content: space-between;
}

.slideshow__btn {
  cursor: pointer;
  user-select: none;
  padding: 4px;
  border: 1px solid var(--silver);
  border-radius: 5px;
  background-color: var(--white-smoke);
  transition: background-color 0.2s ease-in-out;
}

.slideshow__btn--active {
  border-color: var(--regal-blue);
  background-color: var(--regal-blue);
}

@media (max-width: 1023.98px) {
  .slideshow__imgs-wrapper {
    margin-bottom: 40%;
  }

  .slideshow__img {
    width: 60%;
  }

  .slideshow__img--middle {
    right: 20%;
  }

  .slideshow__img--left,
  .slideshow__img--right {
    filter: opacity(0);
  }

  .slideshow__btns-wrapper {
    display: none;
  }
}