.products {
  padding: 5em 0;
}

.products__title {
  text-align: center;
  color: var(--title-clr-darker);
  font-size: 3rem;
  letter-spacing: .02em;
}

.products__wrapper {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5em;
}