<div class="copyright">
  <div class="copyright__owner-wrapper">
    <p class="copyright__owner">Tech 4 People © 2019 - All Rights Reserved</p>
    <p class="copyright__owner-address">Rua Jaguarí, 283 - Santo André, SP - Brasil</p>
  </div>

  <div class="copyright__dev-wrapper">
    <%- include( 'logo', { ref: 'https://maua.br', src: logoSrc, alt: 'Instituto Mauá de Tecnologia' } ) %>

    <div class="copyright__members-wrapper">
      <p class="copyright__members-title">Developed by:</p>
      <a class="copyright__member" href="https://github.com/VinPer"><i class="fab fa-github copyright__member-icon"></i>VinPer</a>
      <a class="copyright__member" href="https://github.com/Kaisen-san"><i class="fab fa-github copyright__member-icon"></i>Kaisen-san</a>
      <a class="copyright__member" href="https://github.com/matheusmf1"><i class="fab fa-github copyright__member-icon"></i>matheusmf1</a>
    </div> 
  </div>
</div>