.options__wrapper {
  width: 45%;
}

.options__title {
  margin: 0;
  color: var(--title-clr-darker);
}

.options__wrapper .divisor {
  margin: 1em 0;
}

.options__description {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.2em;
  letter-spacing: .04em;
  color: var(--content-clr-dark);
  margin-bottom: 1.5em;
}

.options__form {
  display: flex;
  flex-direction: column;
}

.options__option {
  display: block;
  position: relative;
  padding-left: 1.75em;
  margin-bottom: .5em;
  font-size: 1.05rem;
  text-align: justify;
  line-height: 1.1em;
  letter-spacing: .04em;
  color: var(--content-clr-dark)
}

.options__subtext {
  color: var(--subtitle-clr-light);
  font-size: .8rem;
  text-align: justify;
  letter-spacing: .04em;
}

.options__input {
  display: none;
}

.options__checkbox {
  position: absolute;
  top: 8px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--bg-clr-light);
  border-radius: 2px;
  transition: background-color 0.2s ease-in-out;
}

.options__checkbox:hover {
  background-color: #ccc;
}

.options__input:checked~.options__checkbox {
  background-color: var(--decoration-clr-light);
}

.options__input:checked+.options__checkbox:hover {
  background-color: var(--decoration-clr-dark);
}

.options__checkbox:after {
  content: "";
  position: absolute;
  display: none;
  width: 7px;
  height: 12px;
  left: 7px;
  top: 3px;
  border: solid var(--content-clr-light);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.options__input:checked~.options__checkbox:after {
  display: block;
}

.options__wrapper .link {
  margin: 1.5em 0;
}

@media screen and (max-width: 1023.98px) {
  .options__wrapper {
    width: 100%;
  }
}