<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Zeitgeber Store</title>

  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
  <link rel="stylesheet" href="/zeitgeber/src/css/template1_description.css">
  <link rel="stylesheet" href="/zeitgeber/src/css/template2_description.css">
  <link rel="stylesheet" href="/zeitgeber/src/css/template3_description.css">
</head>
<body>

  <main>

    <!-- Template 1 -->
    <section class="description">
      <div class=descript>
        <h3 class="sub_title">Description:</h3>
          <span class="divisor"></span>   
  
          <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse ad cumque 
              provident saepe laboriosam dolorem sit, eos rem maxime velit officiis n
              ecessitatibus rerum non quam sint? Velit voluptas nesciunt nostrum.
          </p>
  
          <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto voluptatum 
              quos accusamus voluptatem quis. Autem aspernatur, minus, deleniti necessitatibus
              consequuntur odio praesentium atque dolorum eveniet ratione ducimus consequatur placeat quo.
          </p>  
  
          <ol class="list">
            <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>                
          </ol>
  
          <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae rerum, 
              id deleniti iure tenetur culpa sed ducimus quo vel earum adipisci eligendi nesciunt.
              Facilis quod laudantium earum, natus autem explicabo!
          </p>
              
          <h3 class="sub_title">Results:</h3>
          <span class="divisor"></span>   
  
          <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus ex 
              iusto explicabo recusandae molestiae exercitationem, qui impedit ipsam perspiciatis 
              praesentium ad placeat maiores, consequuntur dicta maxime laboriosam similique odio natus,
              optio nulla sit magnam? Officia, perferendis? Animi voluptatum exercitationem numquam maiores
              tempora, hic facere voluptas nisi quidem nemo quibusdam vitae quis repellat assumenda qui?
              Magnam, voluptates dolorem reiciendis ducimus vitae corrupti sed, repellendus voluptatum 
              molestias nostrum asperiores commodi fuga nam illo dolore dolores consequatur magni? Autem,
              quia sint mollitia consequuntur perspiciatis rerum voluptas, praesentium ratione nihil facilis 
              ex placeat adipisci est sequi facere molestias ipsum animi nisi laborum rem! Iusto quas, numquam 
              officia veniam deserunt nulla illo harum ad ex necessitatibus, iure, error ipsum distinctio enim? 
          </p>
          
          <div class = product_image>
            <img class="add_image" src="/zeitgeber/src/img/ss-06.jpg"alt="img">  
          </div>
  
          <p class="content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores corporis amet, 
            error quos ea tempora odit, labore doloremque excepturi consequuntur dolor impedit
            quidem fuga inventore, provident tenetur ducimus? Doloribus harum rem sint saepe, 
            in officia? Impedit nulla ipsam adipisci explicabo? Lorem, ipsum dolor sit amet consectetur adipisicing 
            elit. Nihil eos aspernatur eligendi labore amet enim fuga, cumque distinctio aliquam animi similique id,
            odio, at pariatur reprehenderit accusamus. Sunt, id enim.
          </p>

          <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse obcaecati possimus voluptates nam ex? Aut pariatur 
              sit cupiditate nemo necessitatibus deleniti voluptates architecto excepturi distinctio illo delectus dicta veniam culpa officia 
              explicabo, a optio corrupti quam impedit fugit vitae consequuntur! Aspernatur consectetur eos facere cum repellendus unde sint 
              ipsum architecto sit. Quis ipsum ipsam, fugit molestias totam sapiente rem enim possimus id asperiores? Reiciendis commodi provident
              tenetur vel magni labore nihil fugit ipsam, voluptatibus sit iusto ullam, assumenda optio? Pariatur quod officia esse inventore fugiat,
              cupiditate numquam tempora veritatis velit dolor ut enim optio exercitationem voluptas, repellat molestias necessitatibus l
              aboriosam atque voluptatem corrupti odit? Recusandae vitae voluptas aut saepe! Praesentium, sapiente! Autem doloremque enim 
              est voluptatibus cupiditate! </p>

            <div class="results">
              <div class="ad__item">
                <img class="ad__image_side_by_side" src="/zeitgeber/src/img/ss-03.jpg" alt="result">
              </div>
    
              <div class="ad__item">
                <img class="ad__image_side_by_side" src="/zeitgeber/src/img/ss-04.jpg" alt="result">
              </div>
            </div>
            <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto dolores dolore, autem nemo ratione harum 
              nam commodi iure! Voluptates vel, inventore quasi et adipisci cumque debitis culpa iste maiores eligendi tempore accusamus
              laudantium aut repellat, accusantium consequatur, nam praesentium laboriosam ex non quae id? Vero, repudiandae corporis
              repellat maxime, veritatis iste sequi officiis dolore similique ullam, tempore eos odit molestias. Aperiam architecto odit
              eum vero eos magnam voluptates nobis a eveniet odio nulla, neque non dolorem assumenda error suscipit quas iusto mollitia 
              iste. Nostrum, mollitia, esse voluptates maiores nam corporis iste consequuntur voluptatibus repudiandae possimus alias, 
              recusandae officia quibusdam rem odit quaerat! Doloribus exercitationem consequatur dolores autem. Provident doloremque, 
              error aliquam assumenda eos quae quo repellendus facilis, rerum veritatis ducimus?</p>
          </div>
        </div>
        </section>
  
    <!--Template 2 -->
    <section class="description">
      <div class="descript">
        <h3 class="sub_title">Description:</h3>
        <span class="divisor"></span>   

        <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia modi velit unde molestias totam est at iure commodi corrupti animi ipsum nostrum voluptatibus debitis nulla, nobis soluta labore pariatur quod, ad molestiae. Quas assumenda qui optio quo itaque voluptatum, sed enim, illum quis perferendis deserunt cupiditate voluptates fuga velit. Aspernatur officiis esse nemo optio adipisci doloribus nam et ex harum voluptatem amet, excepturi modi sed ipsum exercitationem doloremque necessitatibus aliquam dicta itaque ab. Sed voluptates ducimus facere nihil nulla excepturi.
        </p>

        <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias inventore hic, quod saepe voluptatem voluptatum impedit pariatur quidem possimus in porro unde, autem distinctio illo. Libero praesentium quas numquam sed non voluptas, eligendi veniam nisi iure minus facere suscipit fuga qui aliquam, quos officiis explicabo expedita nulla delectus adipisci? Magni soluta possimus reprehenderit architecto quos cum tempore illum nam, modi praesentium nisi recusandae quia ipsum iste dignissimos pariatur porro dolorem quisquam cumque expedita voluptatum voluptatem placeat itaque? Perspiciatis, tenetur veritatis!
        </p>  

        <h3 class="sub_title">Product Features:</h3>
        <span class="divisor"></span>

        <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus provident 
          illo vero corporis perferendis, facere vitae excepturi soluta repellat temporibus consequuntur 
          consectetur harum quaerat sunt nisi distinctio. Consequatur repellat laborum perspiciatis quisquam 
          distinctio facilis quidem saepe iste itaque dolores praesentium, corrupti et commodi, repudiandae 
          consectetur ratione maxime, consequuntur pariatur. Dolorum, eaque? Obcaecati voluptatum vero similique
          dolore fugit temporibus, hic tenetur recusandae cumque mollitia enim aliquid perferendis quasi, ut, ad
          harum dolorem. Delectus, nesciunt dolores quia vel cum natus magnam. Mollitia suscipit dolorum facilis
          sit impedit soluta molestias cum aut accusantium voluptas quod incidunt natus blanditiis exercitationem,
          ratione temporibus aperiam esse? 
        </p>

        <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio esse rerum repudiandae 
          rem labore unde quos tenetur maxime illo officia ex asperiores, voluptate, accusamus officiis eos
          obcaecati reprehenderit fuga commodi porro facere explicabo dolorem. Beatae laborum ut delectus nam mollitia?
        </p>

        <ul class="list_on_paragraph">
          <li>Easy set-up for high quality EEG data acquisition</li>
          <li>Compatibility with OpenBCI software</li>
          <li>Everything you need to get started except for the gel! Purchase electrode gel</li>
        </ul>


        <h3 class="sub_title">What's inclued:</h3>
        <span class="divisor"></span>       

        <table class="table">
          <tr>
            <th class="left">Product</th>
            <th>Quantity</th> 
          </tr>
          <tr>
            <td>lorem</td>
            <td>1</td>   
          </tr>
          <tr>
            <td>lorem</td>
            <td>1</td>
          </tr>
          <tr>
            <td>lorem</td>
            <td>1</td>
          </tr>
          <tr>
            <td>lorem</td>
            <td>1</td>
          </tr>
          <tr>
            <td>lorem</td>
            <td>1</td>
          </tr>
        </table>

        <ul class="list"> 
          <li>This kit includes one OpenBCI.</li>
          <li>Is required and can be purchased separately from our store.</li>
          <li>Option of Coated or Sintered Ag/AgCl electrode. Please choose one from the dropdown menu.</li>
          <li>Be sure to choose your size from the dropdown menu!</li>
        </ul>

          <h3 class="sub_title">Size Guide:</h3>
          <span class="divisor"></span>

          <ul class="list">
            <li>This kit includes one OpenBCI.</li>
            <li> Electrode cap gel is required and can be purchased separately from our store.</li>
            <li>Option of Coated or Sintered Ag/AgCl electrode. </li>
          </ul>

          <ul class="list">
            <li>Small = 50-54cm</li>
            <li>Medium = 54-58cm</li>
            <li>Large = 58-62cm</li>
          </ul>
      </div>
    </section>
  
    <!-- Template 3 -->
    <section class="description">
      <div class=descript>
        <h3 class="sub_title">Important Notes:</h3>
        <span class="divisor"></span>
    
        <ul class="list">
          <li>Compatible with ALL OpenBCI Biosensing Boards (CytonDaisy 16-channel, Cyton 8-channel, and Ganglion 4-channel).</li>
          <li>Does not include a Ganglion, Cyton or electrodes.</li>
          <li>The WiFi Shield currently only supports WPA level security. You may use WiFi Direct to go direct from 
            WiFI Shield to Computer or use a router or a hotspot to create your own personal WiFi network in places 
            that only have Enterprise grade security.</li>
          <li> the WiFi shield is known to have reliability issues across different computer configurations.
              Using it effectively requires advanced technical skills and programming knowledge. 
              Please proceed at your own risk. OpenBCI cannot guarantee that the device will work 
              with your configuration. Have questions? Email support@openbci.com
          </li>
        </ul>
  
        <h3 class="sub_title">Overview:</h3>
        <span class="divisor"></span>
  
        <p class="content">The OpenBCI WiFi Shield is a plug and play accessory board for the Cyton and Ganglion devices. 
          The WiFi Shield is the first open-source device that connects bio-sensors directly to the internet, 
          allowing you to easily bypass latency filled serial ports and low range bluetooth connections. 
          Further, the wifi shield enables you to stream faster and farther than possible with the default
          bluetooth based hardware. On most Wireless networks, the WiFi Shield can stream well at 1000Hz 
          with the Cyton and Daisy boards and at 1600Hz with the Ganglion board. With a high speed network switch
          , sample rates over 2000Hz are possible with a theoretical limit of 16000Hz for the Cyton, 8000Hz for 
          the Cyton with Daisy shield, and 12800Hz for the Ganglion. The WiFi Shield is a breeze to update over 
          the air and it will continue to get faster. Every WiFi Shield is uniquely addressable on a local area 
          network, allowing for the first time, a single computer to control a fleet of devices by quickly connecting
          to and commanding WiFi shields to start streaming! The WiFi Shield allows you to use popular messaging 
          protocols such as MQTT to stream JSON or Raw data directly to cloud services like
        </p>
  
        <p class="content">The WiFi Shield has a ESP8266 on-board microcontroller and wireless connection. The ESP8266 is 
          Expressif’s first generation Arduino-compatible IoT Wifi module. The Esp8266 allows for the ability 
          to update software over the air (OTA). Every WiFi Shield will be pre-programmed with versatile 
          firmware so you can get started sensing your body right out of the box.
          The WiFi Shield takes two GPIO pins from the Cyton/Ganglion for proper operation. 
          All of break-out inputs on the Ganglion and Cyton are available for you to hack with.
        </p>
  
        <h3 class="sub_title">What's inclued:</h3>
        <span class="divisor"></span>
  
        <ul class="list">
          <li>(x1) WiFi Shield</li>
          <li>(x1) Battery Pack</li>
          <li>(x1) Spudger</li>
        </ul> 
  
        <p class="content">Evaluation Board/Kit Important Notice:OpenBCI, Inc. provides the enclosed product(s) under the following conditions: This evaluation board/kit is intended 
          for use for ENGINEERING DEVELOPMENT, DEMONSTRATION, OR EVALUATION PURPOSES ONLY and is not considered by OpenBCI, Inc. to be a finished end-product fit for general consumer use.
          Persons handling the product(s) must have electronics training and observe good engineering practice standards. As such, the goods being provided are not intended to be complete 
          in terms of required design-, marketing-, and/or manufacturing-related protective considerations, including product safety and environmental measures typically found in end products
          that incorporate such semiconductor components or circuit boards.</p>

        <h3 class="sub_title">Results:</h3>
        <span class="divisor"></span>

        <p class="content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum tempore tempora quidem laborum quam,
          alias assumenda odio, nulla voluptatem, eligendi repellat! Est at ex numquam fugiat quae. Sint modi ipsam blanditiis incidunt, 
          quidem nobis et libero corporis possimus reiciendis quae facere est magni consequuntur eos itaque autem numquam 
          voluptates porro tempore esse eligendi velit illum tenetur. Repellat, mollitia cupiditate ducimus dolorem velit eius
          nostrum quam suscipit, neque tenetur impedit? Odit eveniet, molestias temporibus numquam quaerat voluptatum cupiditate 
          eligendi modi vero maiores, laudantium blanditiis repellat sint atque id, libero quo deleniti placeat! Vitae velit pariatur 
          explicabo, magnam laborum recusandae illum mollitia dolores minus rerum totam sint at incidunt delectus illo labore voluptate,
          mmodi veniam tenetur culpa non alias? Voluptatum, quae autem.</p>

        <div class="results">
          <div class="ad__item">
            <img class="ad__image" src="/zeitgeber/src/img/ss-06.jpg" alt="result">
          </div>
                    
          <div class="ad__item">
            <p class="content__result--right">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, aliquid a, quas amet rerum perspiciatis
            dicta placeat debitis sint odio inventore saepe ratione dolorum quidem natus corporis ea consequuntur! 
            Laborum quasi, sequi possimus, non ipsam ipsa nihil esse omnis corrupti error aliquam ex tenetur cum, 
            recusandae magnam officia quos quo unde amet quas! Cum, hic fugit. Ullam, debitis ipsa. Dignissimos ab 
            deserunt, consequatur expedita voluptatibus maiores ullam consequuntur debitis soluta quaerat nihil 
            omnis molestias quos atque dolor nemo recusandae repudiandae sint perferendis suscipit aut nulla 
            accusantium dicta.
            </p>
          </div>    
        </div>

        <div class="results">
          <div class="ad__item">
            <p class="content__result--left">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, aliquid a, quas amet rerum perspiciatis
            dicta placeat debitis sint odio inventore saepe ratione dolorum quidem natus corporis ea consequuntur! 
            Laborum quasi, sequi possimus, non ipsam ipsa nihil esse omnis corrupti error aliquam ex tenetur cum, 
            recusandae magnam officia quos quo unde amet quas! Cum, hic fugit. Ullam, debitis ipsa. Dignissimos ab 
            deserunt, consequatur expedita voluptatibus maiores ullam consequuntur debitis soluta quaerat nihil 
            omnis molestias quos atque dolor nemo recusandae repudiandae sint perferendis suscipit aut nulla 
            accusantium dicta.
          </div>

          <div class="ad__item">
            <img class="ad__image" src="/zeitgeber/src/img/ss-06.jpg" alt="result">
          </div>	
        </div>       
    </div>
  </section>
  </main>
</body>
</html>