<section class="description">
	<div class=descript>
		<h3 class="sub_title">Description:</h3>
			<span class="divisor"></span>   

			<p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse ad cumque 
				provident saepe laboriosam dolorem sit, eos rem maxime velit officiis n
				ecessitatibus rerum non quam sint? Velit voluptas nesciunt nostrum.
			</p>

			<p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto voluptatum 
				quos accusamus voluptatem quis. Autem aspernatur, minus, deleniti necessitatibus
				consequuntur odio praesentium atque dolorum eveniet ratione ducimus consequatur placeat quo.
			</p>  

			<ol class="list">
				<li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
				<li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
				<li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
				<li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>                
			</ol>

			<p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae rerum, 
				id deleniti iure tenetur culpa sed ducimus quo vel earum adipisci eligendi nesciunt.
				Facilis quod laudantium earum, natus autem explicabo!
			</p>
					
			<h3 class="sub_title">Results:</h3>
			<span class="divisor"></span>   

			<p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus ex 
				iusto explicabo recusandae molestiae exercitationem, qui impedit ipsam perspiciatis 
				praesentium ad placeat maiores, consequuntur dicta maxime laboriosam similique odio natus,
				optio nulla sit magnam? Officia, perferendis? Animi voluptatum exercitationem numquam maiores
				tempora, hic facere voluptas nisi quidem nemo quibusdam vitae quis repellat assumenda qui?
				Magnam, voluptates dolorem reiciendis ducimus vitae corrupti sed, repellendus voluptatum 
				molestias nostrum asperiores commodi fuga nam illo dolore dolores consequatur magni? Autem,
				quia sint mollitia consequuntur perspiciatis rerum voluptas, praesentium ratione nihil facilis 
				ex placeat adipisci est sequi facere molestias ipsum animi nisi laborum rem! Iusto quas, numquam 
				officia veniam deserunt nulla illo harum ad ex necessitatibus, iure, error ipsum distinctio enim? 
			</p>
			
			<div class = product_image>
				<img class="add_image" src="/zeitgeber/src/img/ss-06.jpg"alt="img">  
			</div>

			<p class="content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores corporis amet, 
				error quos ea tempora odit, labore doloremque excepturi consequuntur dolor impedit
				quidem fuga inventore, provident tenetur ducimus? Doloribus harum rem sint saepe, 
				in officia? Impedit nulla ipsam adipisci explicabo?
			</p>

			<div class="results">
				<div class="ad__item">
					<img class="ad__image_side_by_side" src="/zeitgeber/src/img/ss-03.jpg" alt="result">
				</div>

				<div class="ad__item">
					<img class="ad__image_side_by_side" src="/zeitgeber/src/img/ss-04.jpg" alt="result">					</div>
				</div>
			<p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto dolores dolore, autem nemo ratione harum 
				nam commodi iure! Voluptates vel, inventore quasi et adipisci cumque debitis culpa iste maiores eligendi tempore accusamus
				laudantium aut repellat, accusantium consequatur, nam praesentium laboriosam ex non quae id? Vero, repudiandae corporis
				repellat maxime, veritatis iste sequi officiis dolore similique ullam, tempore eos odit molestias. Aperiam architecto odit
				eum vero eos magnam voluptates nobis a eveniet odio nulla, neque non dolorem assumenda error suscipit quas iusto mollitia 
				iste. Nostrum, mollitia, esse voluptates maiores nam corporis iste consequuntur voluptatibus repudiandae possimus alias, 
				recusandae officia quibusdam rem odit quaerat! Doloribus exercitationem consequatur dolores autem. Provident doloremque, 
				error aliquam assumenda eos quae quo repellendus facilis, rerum veritatis ducimus?</p>
		</div>	
	</div>
</section>