<section class="description">
    <div class=descript>
			<h3 class="sub_title">Description:</h3>
				<span class="divisor"></span>   

				<p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse ad cumque 
						provident saepe laboriosam dolorem sit, eos rem maxime velit officiis n
						ecessitatibus rerum non quam sint? Velit voluptas nesciunt nostrum.
				</p>

				<p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto voluptatum 
						quos accusamus voluptatem quis. Autem aspernatur, minus, deleniti necessitatibus
						consequuntur odio praesentium atque dolorum eveniet ratione ducimus consequatur placeat quo.
				</p>  

				<ol class="list">
						<li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
						<li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
						<li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
						<li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>                
				</ol>

				<p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae rerum, 
						id deleniti iure tenetur culpa sed ducimus quo vel earum adipisci eligendi nesciunt.
						Facilis quod laudantium earum, natus autem explicabo!
				</p>
						
				<h3 class="sub_title">Results:</h3>
				<span class="divisor"></span>   

				<p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus ex 
						iusto explicabo recusandae molestiae exercitationem, qui impedit ipsam perspiciatis 
						praesentium ad placeat maiores, consequuntur dicta maxime laboriosam similique odio natus,
						optio nulla sit magnam? Officia, perferendis? Animi voluptatum exercitationem numquam maiores
						tempora, hic facere voluptas nisi quidem nemo quibusdam vitae quis repellat assumenda qui?
						Magnam, voluptates dolorem reiciendis ducimus vitae corrupti sed, repellendus voluptatum 
						molestias nostrum asperiores commodi fuga nam illo dolore dolores consequatur magni? Autem,
						quia sint mollitia consequuntur perspiciatis rerum voluptas, praesentium ratione nihil facilis 
						ex placeat adipisci est sequi facere molestias ipsum animi nisi laborum rem! Iusto quas, numquam 
						officia veniam deserunt nulla illo harum ad ex necessitatibus, iure, error ipsum distinctio enim? 
				</p>
				
				<div class = product_image>
				<img class="add_image" src="ss-03.jpg"alt="img">  
				</div>

				<p class="content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores corporis amet, 
						error quos ea tempora odit, labore doloremque excepturi consequuntur dolor impedit
						quidem fuga inventore, provident tenetur ducimus? Doloribus harum rem sint saepe, 
						in officia? Impedit nulla ipsam adipisci explicabo?
				</p>

        <div class="results">
					<div class="ad__item">
							<img class="ad__image" src="ss-03.jpg" alt="result">
					</div>
                    
					<div class="ad__item">
						<p class="content__result--right">
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, aliquid a, quas amet rerum perspiciatis
						dicta placeat debitis sint odio inventore saepe ratione dolorum quidem natus corporis ea consequuntur! 
						Laborum quasi, sequi possimus, non ipsam ipsa nihil esse omnis corrupti error aliquam ex tenetur cum, 
						recusandae magnam officia quos quo unde amet quas! Cum, hic fugit. Ullam, debitis ipsa. Dignissimos ab 
						deserunt, consequatur expedita voluptatibus maiores ullam consequuntur debitis soluta quaerat nihil 
						omnis molestias quos atque dolor nemo recusandae repudiandae sint perferendis suscipit aut nulla 
						accusantium dicta.
						</div>
				</div>

				<div class="results">

						<div class="ad__item">
								<p class="content__result--left">
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, aliquid a, quas amet rerum perspiciatis
								dicta placeat debitis sint odio inventore saepe ratione dolorum quidem natus corporis ea consequuntur! 
								Laborum quasi, sequi possimus, non ipsam ipsa nihil esse omnis corrupti error aliquam ex tenetur cum, 
								recusandae magnam officia quos quo unde amet quas! Cum, hic fugit. Ullam, debitis ipsa. Dignissimos ab 
								deserunt, consequatur expedita voluptatibus maiores ullam consequuntur debitis soluta quaerat nihil 
								omnis molestias quos atque dolor nemo recusandae repudiandae sint perferendis suscipit aut nulla 
								accusantium dicta.
								</div>
						<div class="ad__item">
								<img class="ad__image" src="ss-03.jpg" alt="result">
						</div>	
					</div>
			</div>
	</section>