<section class="description">
  <div class=descript>
      <h3 class="sub_title">Description:</h3>
      <span class="divisor"></span>   

      <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse ad cumque 
          provident saepe laboriosam dolorem sit, eos rem maxime velit officiis n
          ecessitatibus rerum non quam sint? Velit voluptas nesciunt nostrum.
      </p>

      <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto voluptatum 
          quos accusamus voluptatem quis. Autem aspernatur, minus, deleniti necessitatibus
          consequuntur odio praesentium atque dolorum eveniet ratione ducimus consequatur placeat quo.
      </p>  

      <ol>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>                
      </ol>

      <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae rerum, 
          id deleniti iure tenetur culpa sed ducimus quo vel earum adipisci eligendi nesciunt.
          Facilis quod laudantium earum, natus autem explicabo!
      </p>
          
      <h3 class="sub_title">Lorem ipsum:</h3>
      <span class="divisor"></span>   

      <div class = product_image>
      <img class="add_image" src="ss-03.jpg"alt="img">  
      </div>

      <p class="content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores corporis amet, 
          error quos ea tempora odit, labore doloremque excepturi consequuntur dolor impedit
          quidem fuga inventore, provident tenetur ducimus? Doloribus harum rem sint saepe, 
          in officia? Impedit nulla ipsam adipisci explicabo?
      </p>
  </div>
</section>