<section class="description">
    <div class=descript>
      <h3 class="sub_title">Important Notes:</h3>
      <span class="divisor"></span>

      <ul>
        <li>Compatible with ALL OpenBCI Biosensing Boards (CytonDaisy 16-channel, Cyton 8-channel, and Ganglion 4-channel).</li>
        <li>Does not include a Ganglion, Cyton or electrodes.</li>
        <li>The WiFi Shield currently only supports WPA level security. You may use WiFi Direct to go direct from 
          WiFI Shield to Computer or use a router or a hotspot to create your own personal WiFi network in places 
          that only have Enterprise grade security.</li>
        <li> the WiFi shield is known to have reliability issues across different computer configurations.
            Using it effectively requires advanced technical skills and programming knowledge. 
            Please proceed at your own risk. OpenBCI cannot guarantee that the device will work 
            with your configuration. Have questions? Email support@openbci.com
        </li>
      </ul>

      <h3 class="sub_title">Overview:</h3>
      <span class="divisor"></span>

      <p class="content">The OpenBCI WiFi Shield is a plug and play accessory board for the Cyton and Ganglion devices. 
        The WiFi Shield is the first open-source device that connects bio-sensors directly to the internet, 
        allowing you to easily bypass latency filled serial ports and low range bluetooth connections. 
        Further, the wifi shield enables you to stream faster and farther than possible with the default
        bluetooth based hardware. On most Wireless networks, the WiFi Shield can stream well at 1000Hz 
        with the Cyton and Daisy boards and at 1600Hz with the Ganglion board. With a high speed network switch
        , sample rates over 2000Hz are possible with a theoretical limit of 16000Hz for the Cyton, 8000Hz for 
        the Cyton with Daisy shield, and 12800Hz for the Ganglion. The WiFi Shield is a breeze to update over 
        the air and it will continue to get faster. Every WiFi Shield is uniquely addressable on a local area 
        network, allowing for the first time, a single computer to control a fleet of devices by quickly connecting
        to and commanding WiFi shields to start streaming! The WiFi Shield allows you to use popular messaging 
        protocols such as MQTT to stream JSON or Raw data directly to cloud services like
      </p>

      <p class="content">The WiFi Shield has a ESP8266 on-board microcontroller and wireless connection. The ESP8266 is 
        Expressif’s first generation Arduino-compatible IoT Wifi module. The Esp8266 allows for the ability 
        to update software over the air (OTA). Every WiFi Shield will be pre-programmed with versatile 
        firmware so you can get started sensing your body right out of the box.
        The WiFi Shield takes two GPIO pins from the Cyton/Ganglion for proper operation. 
        All of break-out inputs on the Ganglion and Cyton are available for you to hack with.
      </p>

      <h3 class="sub_title">What's inclued:</h3>
      <span class="divisor"></span>

      <ul>
        <li>(x1) WiFi Shield</li>
        <li>(x1) Battery Pack</li>
        <li>(x1) Spudger</li>
      </ul>
      
      <p class="content">Evaluation Board/Kit Important Notice:OpenBCI, Inc. provides the enclosed product(s) under the following conditions: This evaluation board/kit is intended 
        for use for ENGINEERING DEVELOPMENT, DEMONSTRATION, OR EVALUATION PURPOSES ONLY and is not considered by OpenBCI, Inc. to be a finished end-product fit for general consumer use.
         Persons handling the product(s) must have electronics training and observe good engineering practice standards. As such, the goods being provided are not intended to be complete 
         in terms of required design-, marketing-, and/or manufacturing-related protective considerations, including product safety and environmental measures typically found in end products
        that incorporate such semiconductor components or circuit boards. This evaluation board/kit does not fall within the scope of the European Union directives regarding electromagnetic
         compatibility, restricted substances (RoHS), recycling (WEEE), FCC, CE or UL, and therefore may not meet the technical requirements of these directives or other related directives.</p>
         
    </div>
</section>