body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-clr);
}

article {
  padding: 80px 10%;
}

article:nth-of-type(even) {
  background-image: var(--bg-img-gradient);
}

.header .menu .menu__items-wrapper {
  justify-content: flex-end;
}

.admin__title {
  color: var(--title-clr);
  margin-bottom: 20px;
}

.admin__label {
  color: var(--subtitle-clr);
  margin: 0 0 10px 10px;
}

.admin__wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.admin__item {
  width: 400px;
  margin-bottom: 20px;
}

.admin__add {
  font-size: 7em;
}

.admin__item--dark {
  background-color: var(--bg-clr-dark);
}

.admin__item--maximized {
  width: 100%;
}

.image__button {
  width: 400px;
}

.image__button--selected {
  border: 5px solid blue;
}

.images__wrapper {
  display: none;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 10000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(56, 56, 56, .7);
  overflow: scroll;
  padding: 5%;
}

.images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 4%;
}

.images__item {
  width: 400px;
  margin-bottom: 3%;
}

.images__cancel {
  position: absolute;
  cursor: pointer;
  top: 1%;
  right: 1%;
  font-size: 2em;
}

.textarea__wrapper + .button {
  margin-top: 10px;
}