footer {
  display: grid;
  grid-template:
    "contact contact contact" auto
    "copyright copyright copyright" auto
    / 1fr minmax(320px, auto) 1fr;
}

.contact {
  grid-area: contact;
  margin: 5em auto;
  background-color: var(--bg-clr-light);
}

.copyright {
  grid-area: copyright;
  background-color: var(--bg-clr-light);
}

.copyright .copyright__owner-wrapper,
.copyright .copyright__members-wrapper {
  color: var(--content-dark)
}