@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');

:root {
  --ff-lato: 'Lato', sans-serif;
  --white: #fff;
  --white-smoke: #f4f4f4;
  --night-rider: #333;
  --charcoal: #444;
  --silver: #c4c4c4;
  --sandy-brown: #f09865;
  --casablanca: #f0ac60;
  --regal-blue: #1c3c50;
  --astronaut-blue: #1c5060;

  --base-font: var(--ff-lato);
  --icon-clr-light: var(--white);
  --icon-clr-dark: var(--regal-blue);
  --title-clr-lighter: var(--white);
  --title-clr-light: var(--white-smoke);
  --title-clr-dark: var(--regal-blue);
  --title-clr-darker: var(--night-rider);
  --subtitle-clr-light: var(--white-smoke);
  --subtitle-clr-dark: var(--charcoal);
  --content-clr-light: var(--white);
  --content-clr-dark: var(--night-rider);
  --decoration-clr-light: var(--casablanca);
  --decoration-clr-dark: var(--sandy-brown);
  --border-clr-light: var(--silver);
  --border-clr-dark: var(--regal-blue);
  --bg-clr-lighter: var(--white);
  --bg-clr-light: var(--white-smoke);
  --bg-clr-dark: var(--astronaut-blue);
  --bg-clr-darker: var(--regal-blue);
  --bg-img-gradient: linear-gradient(rgba(244, 244, 244, .5), rgba(153, 214, 255, .25), rgba(244, 244, 244, .5));
  --shadow-clr: rgba(0, 0, 0, 0.15);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--base-font);
}

.icon {
  margin-left: .75em;
}

.lock {
  overflow: hidden;
}