.purchase {
    grid-area: purchase;
    display: flex;
    width: 90%;
    margin: 20px 5%;
}

.purchase-images {
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-right: 5%;
}

.purchase-image-list {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

.purchase-image-display {
    width: 100%;
    cursor: zoom-in;
}

.purchase-image-unselected {
    width: 18%;
    padding: 2px;
    border: 2px solid rgb(180, 180, 180);
}

.purchase-image-selected {
    border-color: rgb(56, 56, 56);
}

.purchase-zoom {
    display: none;
}

.purchase-zoom-active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    cursor: zoom-out;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 56, 56, 0.7);
}

.purchase-zoom-image {
    max-height: 85%;
}

.purchase-lock {
    overflow: hidden;
}

.purchase-options {
    width: 40%;
}

.purchase-form {
    display: flex;
    flex-direction: column;
}

.purchase-title {
    font-size: 2em;
    margin-bottom: 5px;
}

.purchase-description {
    font-size: 1.2em;
}

.purchase-option {
    margin-top: 15px;
}

.purchase-subtext {
    color: rgb(180, 180, 180);
    font-size: 0.75em;
}

.purchase-send {
    display: block;
    margin: 2.5em 0;
    width: 80%;
    padding: 10px 0px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    background-color: var(--secondary-clr);
    text-align: center;
    color: var(--light-theme);
    border-radius: 2px;
    box-shadow: 2px 2px 3px rgb(175, 175, 175);
    transition: background-color 0.1s ease-in-out;
}

.purchase-send:hover {
    background-color: var(--secondary-clr-light);
}

.purchase-send:active {
    background-color: var(--secondary-clr);
}