.purchase {
    grid-area: purchase;
    justify-self: center;
    display: flex;
    width: 85%;
    margin: 20px 5%;
}

.purchase-images {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 5%;
    
    cursor: grab;
}

.purchase-slider {
    width: 100%;
    display: flex;
    align-items: flex-start;
    
    transition: transform 0.2s ease-in-out;
}

.purchase-slider:active {
    transition: transform 0s ease-in-out;
}

.purchase-image-list {
    overflow-x: hidden;
    margin-top: 10px;
    border: 3px solid var(--light-theme);
    background-color: var(--light-theme);
}

.purchase-image-display {
    width: 100%;
    cursor: zoom-in;
    user-select: none;
    -webkit-user-drag: none;
}

.purchase-image-unselected {
    width: 20%;
    /* padding-right: 2.5%; */
    border: 2px solid rgb(180, 180, 180);

    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
}

.purchase-image-selected {
    border-color: rgb(56, 56, 56);
}

.purchase-zoom-image {
    max-height: 85%;
}

.purchase-lock {
    overflow: hidden;
}

.purchase-options {
    width: 45%;
}

.purchase-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.purchase-title {
    font-size: 2em;
    /* margin-bottom: 5px; */
}

.purchase-description {
    margin-top: 25px;
    font-size: 1.2em;
}

.purchase-hr {
    border: 0;
    display: block;
    margin: 2px;
    height: 4px;
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0), var(--primary-clr-light), rgba(0, 0, 0, 0));
}

.purchase-option {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-top: 10px;
}

.purchase-subtext {
    color: rgb(180, 180, 180);
    font-size: 0.75em;
}

.purchase-input {
    display: none;
}

.purchase-checkbox {
    position: absolute;
    top: 5px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 2px;
    transition: background-color 0.2s ease-in-out;
}

.purchase-checkbox:hover {
    background-color: #ccc;
}

.purchase-input:checked ~ .purchase-checkbox {
    background-color: var(--primary-clr-light);
}

.purchase-input:checked + .purchase-checkbox:hover {
    background-color: var(--primary-clr);
}

.purchase-checkbox:after {
    content: "";
    position: absolute;
    display: none;
    width: 7px;
    height: 12px;
    left: 7px;
    top: 3px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.purchase-input:checked ~ .purchase-checkbox:after {
    display: block;
}

.purchase-send {
    display: block;
    margin: 2.5em 0;
    width: 100%;
    padding: 10px 0px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    background-color: var(--secondary-clr);
    text-align: center;
    color: var(--light-theme);
    border-radius: 2px;
    box-shadow: 2px 2px 3px rgb(175, 175, 175);
    transition: background-color 0.1s ease-in-out;
}

.purchase-send:hover {
    background-color: var(--secondary-clr-light);
}

.purchase-send:active {
    background-color: var(--secondary-clr);
}

.purchase-contact {
    color: white;
    font-size: 2em;
}

.purchase-zoom, .purchase-buy {
    display: none;
}

.purchase-zoom {
    cursor: zoom-out;
}

.purchase-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 56, 56, 0.7);
}

.purchase-cancel {
    position: absolute;
    cursor: pointer;
    top: 2%;
    right: 2%;
    font-size: 2em;
}

@media screen and (max-width: 1024px) {
    .purchase {
        flex-direction: column;
    }

    .purchase-images, .purchase-options {
        width: 100%;
    }

    .purchase-options {
        margin-top: 15px;
    }

    .purchase-zoom-image {
        max-width: 90%;
    }
}