body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-clr-light);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  width: 100%;
  height: calc(100vh - 4em);
}

.login {
  width: 350px;
}

.login .input {
  margin-bottom: 10px;
}

.login .button {
  margin-top: 5px;
}