<div id="contact" class="contact">
  <div class="contact__title">
    <h1>Contact Us</h1>
  </div>

  <%- include( 'form', { action: 'contact', method: 'POST' } ) %>

  <%- include('social') %>
</div>