.feature {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5em 2em;
  background-image: var(--bg-img-gradient);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.feature__item {
  margin: 0 1.5em;
  transition: transform 0.7s ease-in-out, filter 0.7s ease-in-out;
  justify-self: center;
}

.feature__image {
  display: block;
  width: 100%;
  height: 30em;
  object-fit: cover;
}

.feature__title {
  margin: 0;
  color: var(--title-clr);
  font-size: 3rem;
  letter-spacing: .02em;
}

.feature .divisor {
  margin: 1.5em 0;
}

.feature__content {
  margin-bottom: 1.5em;
  position: relative;
  font-size: 1.25rem;
  color: var(--content-clr);
  text-align: justify;
  line-height: 1.2em;
  letter-spacing: .04em;
}

@media (max-width: 1023.98px) {
  .feature {
    flex-direction: column;
  }

  .feature__image {
    height: auto;
  }

  .feature__image--left {
    margin-bottom: 2em;
  }

  .feature__image--right {
    margin-top: 2em;
  }
}

@media (max-width: 768px) {
  .feature__title {
    font-size: 2rem;
  }
}