<div class="purchase">
    <div class="purchase-images">
        <img class="purchase-image-display" src="/img/ss-01.jpg" alt="">
        <!-- to optimize: make it impossible to drag images, make it smoother -->
        <div class="purchase-image-list">
            <div class="purchase-slider">
                <img class="purchase-image-unselected purchase-image-selected" src="/img/ss-01.jpg" alt="">
                <img class="purchase-image-unselected" src="/img/ss-02.jpg" alt="">
                <img class="purchase-image-unselected" src="/img/ss-03.jpg" alt="">
                <img class="purchase-image-unselected" src="/img/ss-04.jpg" alt="">
                <img class="purchase-image-unselected" src="/img/ss-05.jpg" alt="">
                <img class="purchase-image-unselected" src="/img/ss-06.jpg" alt="">
                <img class="purchase-image-unselected" src="/img/ss-07.jpg" alt="">
                <img class="purchase-image-unselected" src="/img/ss-08.jpg" alt="">
                <img class="purchase-image-unselected" src="/img/ss-09.jpg" alt="">
                <img class="purchase-image-unselected" src="/img/ss-10.jpg" alt="">
                <img class="purchase-image-unselected" src="/img/ss-11.jpg" alt="">
                <img class="purchase-image-unselected" src="/img/ss-12.jpg" alt="">
                <img class="purchase-image-unselected" src="/img/ss-13.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="purchase-options">
        <h2 class="purchase-title">Lorem, ipsum.</h2>
        <hr class="purchase-hr">
        <p class="purchase-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet sunt recusandae molestiae omnis sapiente magni suscipit laboriosam molestias consequatur officia!</p>
        <form action="/blabla" class="purchase-form">
            <label class="purchase-option"><input type="checkbox" name="e1" value="yes" class="purchase-input">
            <span class="purchase-checkbox"></span>
            Opção 1: Lorem, ipsum dolor.
            <p class="purchase-subtext">Lorem ipsum dolor sit amet consectetur.</p></label>
            <label class="purchase-option"><input type="checkbox" name="e2" value="yes" class="purchase-input">
            <span class="purchase-checkbox"></span>
            Opção 2: Lorem, ipsum dolor.
            <p class="purchase-subtext">Lorem ipsum dolor sit amet consectetur.</p></label>
            <label class="purchase-option"><input type="checkbox" name="e3" value="yes" class="purchase-input">
            <span class="purchase-checkbox"></span>
            Opção 3: Lorem, ipsum dolor.
            <p class="purchase-subtext">Lorem ipsum dolor sit amet consectetur.</p></label>
            <label class="purchase-option"><input type="checkbox" name="e4" value="yes" class="purchase-input">
            <span class="purchase-checkbox"></span>
            Opção 4: Lorem, ipsum dolor.
            <p class="purchase-subtext">Lorem ipsum dolor sit amet consectetur.</p></label>
            <label class="purchase-option"><input type="checkbox" name="e5" value="yes" class="purchase-input">
            <span class="purchase-checkbox"></span>
            Opção 5: Lorem, ipsum dolor.
            <p class="purchase-subtext">Lorem ipsum dolor sit amet consectetur.</p></label>
            <a class="purchase-send">Enviar</a>
        </form>
    </div>
</div>
<div class="purchase-zoom">
    <img class="purchase-zoom-image" src="/img/ss-01.jpg" alt="">
</div>
<div class="purchase-buy">
    <div class="contact">
        <div class="contact__title">
            <h1>Purchase Order</h1>
        </div>
        <div class="purchase-cancel"><i class="fas fa-times"></i></div>
        <form action="/contact" method="POST" id="purchase-form" class="contact__form">
            <div class="purchase-contact">
                <div class="contact__form__item purchase-contact-item">
                    <input type="text" class="contact__form__input" name="first-name" id="first-name" placeholder="First Name">
                    <i class="fas fa-user"></i>
                </div>
                <div class="contact__form__item">
                    <input type="text" class="contact__form__input" name="last-name" id="last-name" placeholder="Last Name">
                    <i class="fas fa-user"></i>
                </div>
            </div>
            <div class="contact__form__item">
                <input type="email" class="contact__form__input"  name="purchase-email" id="purchase-email" placeholder="Email">
                <i class="fas fa-envelope"></i>
            </div>
            <div class="contact__form__item">
                <input type="text" class="contact__form__input" name="address" id="address" placeholder="Address">
                <i class="fas fa-location-arrow"></i>
            </div>
            <div class="contact__form__item purchase-contact-dropdown">
                <div class="contact__form__input">
                    <select class="">
                        <option value="0">Payment Option</option>
                        <option value="card">Credit Card</option>
                        <option value="paypal">Paypal</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <i class="fas fa-dollar-sign"></i>
            </div>
            <div class="contact__form__item">
                <textarea class="contact__form__msg" name="purchase-message" id="purchase-message" cols="30" rows="10" placeholder="Message"></textarea>
            </div>
            <div class="contact__form__item">
                <button type="submit" class="contact__form__btn">
                    <span>Enviar<i class="fas fa-arrow-right"></i></span>
                </button>
            </div>
        </form>
    </div>
</div>