<div class="purchase">
    <%- include( '../components/slider', {
        displayUrl: '/img/ss-01.jpg',
        images: [
            '/img/ss-01.jpg',
            '/img/ss-02.jpg',
            '/img/ss-03.jpg',
            '/img/ss-04.jpg',
            '/img/ss-05.jpg',
            '/img/ss-06.jpg',
            '/img/ss-07.jpg',
            '/img/ss-08.jpg',
            '/img/ss-09.jpg',
            '/img/ss-10.jpg',
            '/img/ss-11.jpg',
            '/img/ss-12.jpg',
            '/img/ss-13.jpg',
        ]
    }) %>
   
    <%- include( '../components/options', {
        title: 'Lorem, ipsum.',
        description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet sunt recusandae molestiae omnis sapiente magni suscipit laboriosam molestias consequatur officia!',
        options: [
            { name: 'Opção 1: Lorem, ipsum dolor.', subtext: 'Lorem ipsum dolor sit amet consectetur.', checkboxName: 'e1', checkboxValue: 'yes' },
            { name: 'Opção 2: Lorem, ipsum dolor.', subtext: 'Lorem ipsum dolor sit amet consectetur.', checkboxName: 'e2', checkboxValue: 'yes' },
            { name: 'Opção 3: Lorem, ipsum dolor.', subtext: 'Lorem ipsum dolor sit amet consectetur.', checkboxName: 'e3', checkboxValue: 'yes' },
            { name: 'Opção 4: Lorem, ipsum dolor.', subtext: 'Lorem ipsum dolor sit amet consectetur.', checkboxName: 'e4', checkboxValue: 'yes' },
            { name: 'Opção 5: Lorem, ipsum dolor.', subtext: 'Lorem ipsum dolor sit amet consectetur.', checkboxName: 'e5', checkboxValue: 'yes' }
        ]
    }) %>
</div>
<div class="purchase__zoom">
    <img class="slider__zoom" src="/img/ss-01.jpg" alt="">
</div>
<div class="purchase__buy">
    <div class="contact">
        <div class="contact__title">
            <h1>Purchase Order</h1>
        </div>
        <div class="purchase__cancel"><i class="fas fa-times"></i></div>
        <form action="/contact" method="POST" class="contact__form">
            <div class="purchase-contact">
                <div class="contact__form__item purchase-contact-item">
                    <input type="text" class="contact__form__input" placeholder="First Name">
                    <i class="fas fa-user"></i>
                </div>
                <div class="contact__form__item">
                    <input type="text" class="contact__form__input" placeholder="Last Name">
                    <i class="fas fa-user"></i>
                </div>
            </div>
            <div class="contact__form__item">
                <input type="email" class="contact__form__input" placeholder="Email">
                <i class="fas fa-envelope"></i>
            </div>
            <div class="contact__form__item">
                <input type="text" class="contact__form__input" placeholder="Address">
                <i class="fas fa-location-arrow"></i>
            </div>
            <div class="contact__form__item purchase-contact-dropdown">
                <div class="contact__form__input">
                    <select class="">
                        <option value="0">Payment Option</option>
                        <option value="card">Credit Card</option>
                        <option value="paypal">Paypal</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <i class="fas fa-dollar-sign"></i>
            </div>
            <div class="contact__form__item">
                <textarea class="contact__form__msg" cols="30" rows="10" placeholder="Message"></textarea>
            </div>
            <div class="contact__form__item">
                <button type="submit" class="contact__form__btn">
                    <span>Enviar<i class="fas fa-arrow-right"></i></span>
                </button>
            </div>
        </form>
    </div>
</div>