.textarea__wrapper {
  width: 100%;
  position: relative;
}

.textarea {
  width: 100%;
  height: 8em;
  padding: 1em;
  border: 0;
  border-radius: 1em;
  font-size: 1.1rem;
  color: var(--content-clr);
  background-color: var(--white);
  resize: none;
  outline: none;
}

.textarea--tall {
  height: 32em;
}