.carousel {
  grid-area: carrosel;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  /* set a gradient background in the cloud section */
  background-image: linear-gradient(rgba(50, 50, 50, 0.05), rgba(153, 214, 255, 0.25), rgba(50, 50, 50, 0.05));
  background-size: cover;
  background-position: center;
}

/* container for carousel images */
.carousel-image-container {
  margin-bottom: 30%;
}

/* container for carousel buttons */
.carousel-button-container {
  display: flex;
  width: 30%;
  justify-content: space-around;
  /* display: none; */
}

/* fixed image size based on view width for responsiveness */
.carousel-image {
  width: 40%;
  position: absolute;
  transition: transform 0.7s ease-in-out, right 0.7s ease-in-out, -webkit-filter 0.7s ease-in-out;
  user-select: none;
  -webkit-user-drag: none;
}

/* configurations for carousel button */
.carousel-button {
  cursor: pointer;
  user-select: none;
  border: 1px solid var(--secondary-clr-light);
  padding: 3px;
  background-color: var(--light-theme);
  border-radius: 20px;
  transition: background-color 0.2s ease-in-out;
}

.carousel-button-active {
  background-color: var(--secondary-clr-light);
}

/* rotation animation settings */
.carousel-middle {
  transform: scale(1);
  right: 30%;
  z-index: 100;
  filter: opacity(100%) blur(0px);
}

.carousel-right {
  transform: scale(.6);
  right: 0%;
  box-shadow: 0 0 10px rgba(black, .5);
  z-index: 1;
  filter: opacity(80%) blur(3px);
}

.carousel-left {
  transform: scale(.6);
  right: 60%;
  z-index: 1;
  filter: opacity(80%) blur(3px);
}

.carousel-hide {
  transform: scale(.4);
  right: 30%;
  z-index: 0;
  filter: opacity(0%) blur(0px);
}

/* responsiveness to adjust the images */
@media (max-width: 1023.98px) {
  .carousel-left,
  .carousel-right {
    filter: opacity(0%);
  }

  .carousel-image {
    width: 60%;
  }

  .carousel-button-container {
    display: none;
  }

  .carousel-image-container {
    margin-bottom: 40%;
  }

  .carousel-middle {
    right: 20%;
  }
}