.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15vw;
  grid-area: copyright;
  color: var(--light-theme);
  background: var(--secondary-clr-light);
  font-size: .75em;
}

.copyright__left {
  font-size: 1.3em;
}

.copyright__address {
  margin-top: 10px;
}

.copyright__right {
  display: flex;
  padding: 4px 0;
  align-items: center;
}

.copyright__maua {
  height: 56px;
  /* width: 90px; */
  padding-right: 15px;
}

.copyright__saturno {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.copyright__github {
  height: 14px;
}

.copyright__member {
  text-decoration: none;
  color: var(--light-theme);
}

@media screen and (max-width: 768px) {
  .copyright {
    flex-direction: column;
    padding: 10px 7vw;
  }

  .copyright__right {
    padding-top: 15px;
  }
}