<section id="products" class="products">
  <h1 class="products__title">Featured Products</h1>
  <div class="products__wrapper">
    <% products.forEach( p => { %>
      <%- include( '../partials/product', {
        title: p.title,
        code: p.code,
        description: p.description,
        imgUrl: p.imgUrl,
        productId: p.productId
      }) %>
    <% }); %>
  </div>
</section>