:root {
  --primary-clr: #f09865;
  --primary-clr-light: #f0ac65;
  --secondary-clr: #1c3c50;
  --secondary-clr-light: #1c5060;
  --light-theme: #f0f0f0;
  --ff-lato: 'Lato', sans-serif;
}

body {
  font-family: var(--ff-lato);
  display: grid;
  grid-template:
    "header header header" 4em
    "main main main" max-content
    "footer footer footer" auto
    / 1fr minmax(400px, 5fr) 1fr;
  background: var(--bg-clr-light);
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}